# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="UniGPT AuthenticationAPI"
STACK_NAME=quiz-api-authentication-fastapi-project

# Backend
BACKEND_CORS_ORIGINS="http://localhost:8001"
SECRET_KEY=changethis
FIRST_SUPERUSER=mr.junaid@gmail.com
FIRST_SUPERUSER_PASSWORD=changethis
USERS_OPEN_REGISTRATION=True

# Emails
SMTP_HOST=smtp.gmail.com
SMTP_USER=mr.junaid@gmail.com
SMTP_PASSWORD="google pass key for email"
EMAILS_FROM_EMAIL=mr.junaid@gmail.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
DATABASE_URL="postgresql://mjunaidca:temp_auth_dev_pass@PostgresAuthDevCont:5432/postgres_auth_dev_db"
TEST_DATABASE_URL="postgresql://mjunaidca:temp_test_pass@PostgresTestCont:5432/postgres_test_db"

# Configure these with your own Docker registry images
DOCKER_IMAGE_Auth=auth
